<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->

<!-- ========================= SECTION INTRO ========================= -->
<section class="section-intro padding-y-sm">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li><a href="#">Best clothes</a></li>
            <li><a href="#">Automobiles</a></li>
            <li><a href="#">Home interior</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Technologies</a></li>
            <li><a href="#">Digital goods</a></li>
            <li class="has-submenu">
              <a href="#">More items</a>
              <ul class="submenu">
                <li><a href="#">Submenu name</a></li>
                <li><a href="#">Great submenu</a></li>
                <li><a href="#">Another menu</a></li>
                <li><a href="#">Some others</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </aside> <!-- col.// -->
      <div class="col-md-9">
        <div class="intro-banner-wrap">
          <img src="../assets/images/banners/11.jpg" class="img-fluid rounded">
        </div>
      </div>
    </div>

  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION FEATURE ========================= -->
<section class="section-content padding-y-sm">
  <div class="container">
    <article class="card card-body">


      <div class="row">
        <div class="col-md-4">
          <figure class="item-feature">
            <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
            <figcaption class="pt-3">
              <h5 class="title">Fast delivery</h5>
              <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore
              </p>
            </figcaption>
          </figure> <!-- iconbox // -->
        </div><!-- col // -->
        <div class="col-md-4">
          <figure class="item-feature">
            <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>
            <figcaption class="pt-3">
              <h5 class="title">Creative Strategy</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              </p>
            </figcaption>
          </figure> <!-- iconbox // -->
        </div><!-- col // -->
        <div class="col-md-4">
          <figure class="item-feature">
            <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
            <figcaption class="pt-3">
              <h5 class="title">High secured </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              </p>
            </figcaption>
          </figure> <!-- iconbox // -->
        </div> <!-- col // -->
      </div>
    </article>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION FEATURE END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Popular products</h3>
    </header><!-- sect-heading -->    
    <popular-products></popular-products>
  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content">
  <div class="container">

    <header class="section-heading">
      <h3 class="section-title">New arrived</h3>
    </header><!-- sect-heading -->

    <div class="row">
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/5.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Just another product name</a>

            <div class="rating-wrap">
              <ul class="rating-stars">
                <li style="width:80%" class="stars-active">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
              </ul>
              <span class="label-rating text-muted"> 34 reviws</span>
            </div>
            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/6.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Some item name here</a>

            <div class="rating-wrap">
              <ul class="rating-stars">
                <li style="width:80%" class="stars-active">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
              </ul>
              <span class="label-rating text-muted"> 34 reviws</span>
            </div>
            <div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/7.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Great product name here</a>

            <div class="rating-wrap">
              <ul class="rating-stars">
                <li style="width:80%" class="stars-active">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
              </ul>
              <span class="label-rating text-muted"> 34 reviws</span>
            </div>
            <div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/9.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Just another product name</a>

            <div class="rating-wrap">
              <ul class="rating-stars">
                <li style="width:80%" class="stars-active">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
              </ul>
              <span class="label-rating text-muted"> 34 reviws</span>
            </div>
            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-bottom-sm">
  <div class="container">

    <header class="section-heading">
      <a href="#" class="btn btn-outline-primary float-right">See all</a>
      <h3 class="section-title">Recommended</h3>
    </header><!-- sect-heading -->

    <div class="row">
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/1.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Just another product name</a>
            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/2.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Some item name here</a>
            <div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/3.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Great product name here</a>
            <div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../assets/images/items/4.jpg"> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Just another product name</a>
            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Our Brands</h3>
    </header><!-- sect-heading -->

    <div class="row">
      <div class="col-md-2 col-6">
        <figure class="box item-logo">
          <a href="#"><img src="../assets/images/logos/logo1.png"></a>
          <figcaption class="border-top pt-2">36 Products</figcaption>
        </figure> <!-- item-logo.// -->
      </div> <!-- col.// -->
      <div class="col-md-2  col-6">
        <figure class="box item-logo">
          <a href="#"><img src="../assets/images/logos/logo2.png"></a>
          <figcaption class="border-top pt-2">980 Products</figcaption>
        </figure> <!-- item-logo.// -->
      </div> <!-- col.// -->
      <div class="col-md-2  col-6">
        <figure class="box item-logo">
          <a href="#"><img src="images/logos/logo3.png"></a>
          <figcaption class="border-top pt-2">25 Products</figcaption>
        </figure> <!-- item-logo.// -->
      </div> <!-- col.// -->
      <div class="col-md-2  col-6">
        <figure class="box item-logo">
          <a href="#"><img src="../assets/images/logos/logo4.png"></a>
          <figcaption class="border-top pt-2">72 Products</figcaption>
        </figure> <!-- item-logo.// -->
      </div> <!-- col.// -->
      <div class="col-md-2  col-6">
        <figure class="box item-logo">
          <a href="#"><img src="../assets/images/logos/logo5.png"></a>
          <figcaption class="border-top pt-2">41 Products</figcaption>
        </figure> <!-- item-logo.// -->
      </div> <!-- col.// -->
      <div class="col-md-2  col-6">
        <figure class="box item-logo">
          <a href="#"><img src="../assets/images/logos/logo2.png"></a>
          <figcaption class="border-top pt-2">12 Products</figcaption>
        </figure> <!-- item-logo.// -->
      </div> <!-- col.// -->
    </div> <!-- row.// -->
  </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
