/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*This container element gives us the scrollbars we want.*/
div.horizontal {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

/*table-layout: fixed does a lot of the magic, here. It makes sure that the "table cells" retain the pixel dimensions you want.*/
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
